%a{:href => "http://www.maymillerricci.wordpress.com", :target => "_blank"}
  %img.to_sepia{:alt => "moon and stars blog icon", :src => "assets/images/stars.jpg"}/
%p.fix_height
  %a{:href => "http://www.maymillerricci.wordpress.com", :target => "_blank"} My blog: The Coding Road
  \- Read my blog about learning to code and attending
  %a{:href => "http://www.codingdojo.co", :target => "_blank"} Coding Dojo
  bootcamp.
%a{:href => "http://www.linkedin.com/in/maymillerricci", :target => "_blank"}
  %img.to_sepia{:alt => "LinkedIn logo", :src => "assets/images/linkedin.png"}
%p.fix_height
  %a{:href => "http://www.linkedin.com/in/maymillerricci", :target => "_blank"} LinkedIn
  \- View my professional profile.
%a{:href => "https://github.com/maymillerricci", :target => "_blank"}
  %img.to_sepia{:alt => "Github logo", :src => "assets/images/octocat.png"}
%p.fix_height
  %a{:href => "https://github.com/maymillerricci", :target => "_blank"} Github
  \- Check out my code!
%a{:href => "http://www.codeivate.com/users/maymillerricci", :target => "_blank"}
  %img{:alt => "Codeivate signature", :src => "http://www.codeivate.com/users/maymillerricci/signature.jpg"}
%p.fix_height
  %a{:href => "http://www.codeivate.com/users/maymillerricci", :target => "_blank"} Codeivate
  \- Watch me "level up" as I code.
%a{:href => "http://www.ravelry.com/people/maymay7", :target => "_blank"}
  %img.to_sepia{:alt => "wizard icon", :src => "assets/images/knit.png"}
%p.fix_height
  %a{:href => "http://www.ravelry.com/people/maymay7", :target => "_blank"} Ravelry
  \- When I'm not coding, I love to knit! Check me out on Ravelry if you're a fellow Ravelry crafter.
