#wrapper
  #header.section
    = link_to root_path do
      = image_tag "wizard.png", class: "to_sepia", id: "wizard"
    %h1
      = link_to "May Miller-Ricci", root_path
  #sidebar.section
    %ul
      #home.main_link
        %li
          = link_to "Home", root_path
      #about.main_link
        %li
          %a#about.main_link{:href => "about.php"} About
      #blog.main_link
        %li
          %a{:href => "http://www.maymillerricci.wordpress.com", :target => "_blank"} Blog
      #portfolio.main_link
        %li
          %a#portfolio.main_link{:href => "portfolio.php"} Portfolio
